<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="restauran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="restauran.Properties.Settings.restaurantConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\restaurant.accdb;
      Persist Security Info=True; Jet OLEDB:Database Password=CordilleraDelSabor;"
      providerName="System.Data.OleDb" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="restaurantConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\restaurant.accdb"
      providerName="System.Data.OleDb" />
    <add name="restauran.Properties.Settings.restaurantConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\restaurant.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <userSettings>
    <restauran.Properties.Settings>
      <setting name="ImpuestoConsumo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Nit" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Telefono" serializeAs="String">
        <value>721002856</value>
      </setting>
      <setting name="Direccion" serializeAs="String">
        <value>catambuco casa x</value>
      </setting>
      <setting name="PiePagina" serializeAs="String">
        <value>pie de pagina</value>
      </setting>
    </restauran.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>