<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="restauran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="restaurantConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\restaurant.accdb"
      providerName="System.Data.OleDb" />
    <add name="restauran.Properties.Settings.restaurantConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\restaurant.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <restauran.Properties.Settings>
      <setting name="ImpuestoConsumo" serializeAs="String">
        <value>0</value>
      </setting>
    </restauran.Properties.Settings>
  </userSettings>
</configuration>